@use "./core/variables" as vars;

.footer {
  background-color: vars.$color-tertiary;
  padding: 4rem;
}

.footer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.footer__section p {
  color: vars.$color-quaternary;
}

.footer__section a {
  color: vars.$color-quaternary;
  text-decoration: none;
  font-size: 0.7rem;
}

.footer__list-links {
  list-style: none;
}

.footer__article {
  width: 100px;
}

.footer__article > * {
  margin-bottom: 0.3rem;
}

.footer__arrow {
  position: relative;
  left: 85%;
  top: 1rem;
}

@media all and (min-width: 768px) and (max-width: 1023px) {

  .footer__section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }

  .footer__arrow {
    left: 100%;
  }

}

@media all and (min-width: 1024px) {
  .footer__section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12rem;
  }

  .footer__arrow {
    left: 100%;
  }
}